<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Word Count</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Word Count</h1>
    <form action = "{% url "count"%}" >
        <textarea cols = "40" rows = "10" name = "fulltext"></textarea>
        <br/>
        <input type = "submit" value = "Count"/>
    
        
        
    </form>
</body>
</html>